/* CONFIGURACIÓN BÁSICA DE UN ARCHIVO CSS */

/* 1. TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* 2. ICONOS */


/* 3. ESTILOS GENERALES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pacifico", cursive;
}

p,
a,
button,
li,
label,
input,
select,
textarea,
span {
    font-family: "Delius", cursive;
}

/* 4. VARIABLES */

:root {
    --background-color: #f9fafb;
    --primary-color: #111827;
    --secundary-color: #6B7280;
    --button-color: #3B82F6;
    --check-task: #10B981;
    --fs-title1: 60px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;
}

/* 5. DESKTOP */

body {
    display: flex;
    justify-content: center;
}

#global-content {
    background-color: var(--background-color);
    border: 1px solid var(--button-color);
    padding: 40px;
    max-width: 700px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px ;
    border-radius: 10px;
    box-shadow: -1px 1px 9px 0 #4b8cf7;
}

#global-content h1 {
    font-size: var(--fs-title1);
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}

#global-content .hr-diferent {
    border: 1px solid var(--button-color);
}

#global-content hr {
    border: 1px dashed var(--button-color);
}

#global-content h2 {
    font-size: var(--fs-title3);
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

#global-content form {
    width: 100%;
    padding: 10px 0 20px 0;
    
}

#global-content form input {
    border: 1px solid var(--button-color);
    width: 90%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding-left: 10px;
}

#global-content form button {
    width: 50px;
    height: 45px;
    background-color: var(--button-color);
    border: 1px solid var(--secundary-color);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.item-to-do {
    display: flex;
    width: 100%;
    border: 1px solid var(--button-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.item-to-do input {
    margin-right: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

.item-to-do p {
    font-size: var(--fs-text);
    color: var(--primary-color);
    width: 90%;
}

.item-to-do button {
    width: 30px;
    height: 30px;
    background: red;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

#cont-to-do-list-complete .item-to-do p {
    text-decoration: line-through;
}

#change-styles {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    background: var(--button-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: fixed;
}
